* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.social_bar a:link {
    text-decoration: none;
    color: black;
  }
  
  .social_bar a:visited {
    text-decoration: none;
    color: black;
  }
  
  .social_bar a:hover {
    text-decoration: none;
    color: black;
  }
  
  .social_bar a:active {
    text-decoration: none;
    color: black;
  }