<div id="social_bar">
    <div class="social_bar_phone social_bar_child"><img alt="phone number">
        <a href="/contactus">9348479459</a>
    </div>
    <div class="social_bar_whatsapp social_bar_child"><img alt="whats app">
        Whatsapp
    </div>
    <div class="social_bar_email social_bar_child"><img alt="email">
        <a href="/contactus">Email</a>

    </div>

    <div class="social_bar_track_order social_bar_child">
        <a href="/store_locater">Track your order</a>
    </div>
</div>



<div id="main_bar">

    <div id="main_bar_logo"><a href="/"><img id="logo"></a></div>


    <div id="nav_bar">
        <ul>
            <li class="nav_bar_dropdown">
                <a class="nav_bar_dropdown_button">Lighting</a>
                <div class="nav_bar_dropdown_content">
                    <div class="nav_bar_dropdown_content_child">
                        <div class="sub_dropdown">
                            <h6><u>Indoor Lighting</u></h6>
                            <a href="/ceiling_light">Ceiling Lighting</a>
                            <a href="/wall_light"> Wall Lighting</a>
                            <a href="/ceiling_lamp">Ceiling Lamps</a>
                            <a href="/wall_lamp">Wall Lamps</a>
                            <a href="/chandelier">Chandeliers</a>
                            <a href="/table_lamp">Table Lamps</a>
                            <a href="/floor_lamp">Floor Lamps</a>


                        </div>
                        <div class="sub_dropdown">
                            <h6><u>Outdoor Lamps</u></h6>
                            <a href="/street_light">Street Lighting</a>
                            <a href="/flood_light">Flood Lighting</a>
                            <a href="/highbay_light">Highbay Lighting</a>
                            <a href="/garden_ballard">Garden Bollards</a>
                        </div>
                    </div>
                </div>
            </li>

            <li><a href="/smart_benches">Smart Benches</a></li>

            <li><a href="/cctv">CCTV</a></li>

            <li><a href="/bms">BMS</a></li>

            <li class="nav_bar_dropdown">
                <a class="nav_bar_dropdown_button" href="">More</a>
                <div class="nav_bar_dropdown_content">
                    <a href="/aboutus">About us</a>
                    <a href="/testimony">Testimony</a>
                    <a href="/contactus">Contact Us</a>
                </div>
            </li>


            <li><a href="/store_locater">Store Locator</a></li>
        </ul>

    </div>


</div>