
<div class="product_parent_row">

	<div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

</div>


<div class="product_parent_row">

	<div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>

	  <div class="card" style="width: 18rem;">
		<img  class="card-img-top product_image" alt="product image">
		<div class="card-body">
		  <h5 class="card-title">Tube Light pro max ultra founder's edition  1TB carbon fiber body</h5>
		  <p class="card-price">Rs 7999/-</p>
		  <a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	  </div>


</div>
