<div class="product_parent_row">

	<div class="card" style="width: 18rem;">
		<img class="card-img-top " id="product_image1" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" id="product_image2" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top " id="product_image3" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" id="product_image4" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

</div>


<div class="product_parent_row">

	<div class="card" style="width: 18rem;">
		<img class="card-img-top " id="product_image5" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" id="product_image6" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" id="product_image7" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" id="product_image8" alt="product image">
		<div class="card-body">
			<h5 class="card-title">Tube Light pro max ultra founder's edition 1TB carbon fiber body</h5>
			<p class="card-price">Rs 7999/-</p>
			<a href="#" class="btn btn-primary card_button_buy">Buy</a>
		</div>
	</div>


</div>