<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global CSS -->
    <link rel="stylesheet" href="css/global/main.css" />
    <link rel="stylesheet" href="css/global/header.css" />
    <link rel="stylesheet" href="css/global/footer.css" />
    <link rel="stylesheet" href="css/global/swiper.css" />
    <link rel="stylesheet" href="css/global/path.css" />
    <link rel="stylesheet" href="css/global/card.css" />
    <link rel="stylesheet" href="css/global/catalogue_panel.css" />

    <link rel="stylesheet" href="css/page/product_card_v2.css" />

    <link rel="stylesheet" href="css/page/bms.css" />
    <link rel="stylesheet" href="css/page/cctv.css" />
    <link rel="stylesheet" href="css/page/contactus.css" />
    <link rel="stylesheet" href="css/page/smart_bench.css" />
    <link rel="stylesheet" href="css/page/testimonial.css" />
    <script src="js/common.js"></script>

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NUEZ</title>
    <style>
      h1 {
        font-size: 4em;
        font-weight: normal;
        /* text-transform: lowercase; */
      }

      svg {
        width: 250px;
        height: 250px;
      }
      .coming_soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <header id="header"></header>

    <div class="container_hero">
      <div class="section_left">
        <div class="hero_text_content">
          <h2 id="hero_h2">Building Management System <br />(BMS system)</h2>
          <p id="hero_p">
            There's a fast way to reduce energy expenses, optimize building
            equipment performance, and enhance occupants' comfort, all while
            complying with national directives. A Building Management System, or
            BMS system, gives you full control of your building. By installing
            or retrofitting a building management system, you can quickly and
            easily take control of your building and achieve a wide range of
            benefits in one cost-effective solution.
          </p>
        </div>
      </div>
      <div class="section_right">
        <img id="bms_hero_img" alt="bms_hero_img" />
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img id="bms_diagram_img" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                    loading="lazy">
            </div>
            <div class=" hero col-lg-6">
                <h1 class="display-6">What is BMS?</h1>
                <p class="lead">A Building Management System (BMS) is a comprehensive computer system designed to aid with building management.
                     Once installed, the BMS communicates with all of the equipment and systems currently installed in the building.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
                </div>
            </div>
        </div>
    </div>



    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img id="bms_worker_img" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                    loading="lazy">
            </div>
            <div class=" hero col-lg-6">
                <h1 class="display-6">How does it work?</h1>
                <p class="lead">A BMS system operates by gathering data from buildings sensors and equipment, 
                    processing it centrally, and issuing commands to regulate building systems based on predefined criteria and user inputs, utilizing interconnected hardware and software components</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
                </div>
            </div>
        </div>
    </div>




    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img id="bms_diagram_img" class="d-block mx-lg-auto img-fluid" alt="Hero3" width="700" height="500"
                    loading="lazy">
            </div>
            <div class=" hero col-lg-6">
                <h1 class="display-6">What is its role?</h1>
                <p class="lead">A BMS provides for targeted systems management. With it, owners can analyze current performance, set and adjust targets for different systems,
                     and fine-tune each system to achieve those targets</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
                </div>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>

    <script src="js/header.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/common.js"></script>

  </body>
</html>
