<!DOCTYPE html>
<html lang="en">

<head>    
    <!-- Global CSS -->
    <link rel="stylesheet" href="css/global/main.css">
    <link rel="stylesheet" href="css/global/header.css">
    <link rel="stylesheet" href="css/global/footer.css">
    <link rel="stylesheet" href="css/global/swiper.css">
    <link rel="stylesheet" href="css/global/path.css">
    <link rel="stylesheet" href="css/global/card.css">
    <link rel="stylesheet" href="css/global/catalogue_panel.css">
    <link rel="stylesheet" href="css/page/cctv.css">
    <script src="js/common.js"></script>

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUEZ</title>
</head>

<body>
  <header></header>


    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img id="cctv_slider_image1"></div>
            <div class="swiper-slide"><img id="cctv_slider_image2"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>




<div class="product_feature">


<h3>Types of cctv we provide</h3>


<div class="product_feature_content">
    
    <div class="feature_left">
        <list><a href="#cctv3">Indoor Camera</a></list>
        <list><a href="#cctv5">Outdoor Camera</a></list>
        <list><a href="#cctv4">IR day/night Camera</a></list>
        <list><a href="#cctv">Dome Camera</a></list>
    </div>

    <div><img id="cctv_product_feature_image" alt="cctv_product_feature_image" ></div>

    <div class="feature_right">
        <list><a href="#cctv1">Bullet Camera</a></list>
        <list><a href="#cctv">Vandal Proof Camera</a></list>
        <list><a href="#cctv">Hidden Camera</a></list>
        <list><a href="#cctv6">Pen Tilt Camera</a></list>
    </div>
</div>
</div>





<div class="container_parent">

  <div class="container">
    <div class="row flex-lg-row align-items-center">
      <div class="col-lg-6">
        <img id="cctv4" class="d-block mx-lg-auto img-fluid cctv_hero_img" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class=" hero col-lg-6">
        <h1 class="display-6">IR Day/Night CCTV</h1>
        <p class="lead">IR cameras are equipped with infrared LEDs. These LEDs allow them to capture clear images in low-light conditions or complete darkness. They are particularly useful for nighttime surveillance.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
        </div>
      </div>
    </div>
  </div>










  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-lg-6">
        <img id="cctv3" class="d-block mx-lg-auto img-fluid cctv_hero_img" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class=" hero col-lg-6">
        <h1 class="display-6">Indoor CCTV</h1>
        <p class="lead">These cameras are designed for indoor use, such as homes, offices, and retail spaces. They are typically smaller and more discreet, making them suitable for inconspicuous surveillance. However, they may not be weatherproof.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
        </div>
      </div>
    </div>
  </div> 






  <div class="container">
    <div class="row flex-lg-row align-items-center">
      <div class="col-lg-6">
        <img id="cctv1" class="d-block mx-lg-auto img-fluid cctv_hero_img" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class=" hero col-lg-6">
        <h1 class="display-6">Bullet Button</h1>
        <p class="lead">Bullet cameras have a cylindrical or bullet-like shape. They are often weatherproof and easy to mount on walls or ceilings. Due to their robust design, they are commonly used for outdoor surveillance.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
        </div>
      </div>
    </div>
  </div>













  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-lg-6">
        <img id="cctv5" class="d-block mx-lg-auto img-fluid cctv_hero_img" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class=" hero col-lg-6">
        <h1 class="display-6">Outdoor CCTV</h1>
        <p class="lead">Outdoor cameras are built to withstand harsh weather conditions. They are weatherproof and durable, making them ideal for monitoring exterior areas like entrances, parking lots, and gardens. Many outdoor cameras also feature night vision capabilities.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
        </div>
      </div>
    </div>
  </div> 

  <div class="container">
    <div class="row flex-lg-row align-items-center">
      <div class="col-lg-6">
        <img id="cctv6" class="d-block mx-lg-auto img-fluid cctv_hero_img" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class=" hero col-lg-6">
        <h1 class="display-6">PTZ CCTV</h1>
        <p class="lead">PTZ cameras offer pan, tilt, and zoom functionalities. They can rotate horizontally (pan), tilt vertically (tilt), and zoom in or out. These cameras are controlled remotely and are excellent for covering large areas or tracking moving objects.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="hero_button btn btn-dark">Discover</button> -->
        </div>
      </div>
    </div>
  </div>

</div>


<svg src=""></svg>



<footer></footer>


    <script src="../js/swiper.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>