<!DOCTYPE html>
<html lang="en">

<head>    
    <!-- Global CSS -->
    <link rel="stylesheet" href="css/global/main.css">
    <link rel="stylesheet" href="css/global/header.css">
    <link rel="stylesheet" href="css/global/footer.css">
    <link rel="stylesheet" href="css/global/path.css">
    <script src="js/common.js"></script>
  
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEZ</title>
     <style>
  

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-us, .map {
    flex: 1;
    padding: 20px;
}

.about-us {
    max-width: 50%;
}
 

.map iframe {
    width: 100%;
    height: 450px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    
    .about-us, .map {
        max-width: 100%;
    }
}
    

    </style>
  </head>
<body>
    <header></header>


    <main>
        <div class="about-container">
            <section class="about-us">
                <h1 >About Us</h1>
                <h4>Location:</h4>
                <p>
                  A-207, KSSIDC COMPLEX, Block II, 2nd Cross Road, Electronics
                  City Phase 1,Bengaluru.Karnataka 560100
                </p><br>
                <h4>E-mail:</h4>
                <p>nuez@gmail.com</p>
                <!-- Add more content as needed -->
            </section>
            <section class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d124481.7291701148!2d77.57963932864227!3d12.839784742743614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!3e6!4m3!3m2!1d12.8396302!2d77.66204309999999!4m1!2sAddress%3A%20%22Money%20Terrace%22%2C%204th%20Floor%2C%20%23100%2C%20K.%20H.%20Road%2C%20Bangalore%20%E2%80%93%20560027.!5e0!3m2!1sen!2sin!4v1719465563005!5m2!1sen!2sin"
                width="100%"
                height="270px"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
                
            </section>
        </div>
    </main>


 
  


   



















    <footer></footer>

   
  </body>
  
  </html>                                     