* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


:root {
  /* Uncomment to use tge color theme (make sure that only on color palette is uncommented) */

 /*-- color palette 1 --*/
  --color-0: #F9F7F7;
  --color-1: #DBE2EF;
  --color-2: #3F72AF;
  --color-3: #112D4E;


  /*-- color palette 2 --*/
  /* --color-0: #EBF4F6;
  --color-1: #37B7C3;
  --color-2: #088395;
  --color-3: #071952; */

  --color-black: #000000;
  --color-white: #ffffff;





}